@charset "utf-8";
/* CSS3.0 Document */

/*general*/

html {
	height:100vh;
}
body { 
	font-family: 'Montserrat', sans-serif;
}
html ::selection {
	background: #fff100;
	color: #000;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

#overlay {
	display:block;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	z-index:555;
	position:fixed;
	top:0;
	left:0;
	display:none;
}

/* Parallax Sections*/
.topshadow {
	top:0;
	position:absolute;
	z-index:1;
	background:url("../images/topshadow.png") top repeat-x;
	width:100%;
	height:561px;

}
.top_parallax {
	background: url("../images/top_keyvisual.jpg") no-repeat center center fixed; 
	min-width: 1200px;
	overflow: hidden;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:100%;
	height:100vh;
}
.second_parallax {
	background: url("../images/parallax_img1.jpg") no-repeat center center fixed; 
	height:300px;
	overflow: hidden;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.second_parallax img {
	display:none;
}
.third_parallax {
	background: url("../images/parallax_img2.jpg") no-repeat center center fixed; 
	height:300px;
	overflow: hidden;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.third_parallax img {
	display:none;
}
.fourth_parallax {
	background: url("../images/parallax_img3.jpg") no-repeat center center fixed; 
	height:300px;
	overflow: hidden;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fourth_parallax img {
	display:none;
}

/* animations */
.animation_1 {
	background-color:#e84224;
	height:750px;
	position:relative;
	overflow:hidden;
}
.animation_2 {
	background-color: #fff100;
	height:750px;
	position: relative;
	overflow: hidden;
}
.animation_3 {
	background-color:#003390;
	height:750px;
	position:relative;
	overflow:hidden;
}
.animation_4 { /* fabrics top */
	background-color:#00aedd;
	min-height:100%;
	height:100vh;
	width:100%;
	position:relative;
	overflow:hidden;
}
.animation_4 h3 {
	font-size:1.6em;
	font-weight:bold;
	color:#fff;
	margin-bottom:50px;
}
.animation_4 p {
	font-size:1.3em;
	color:#003390;
	font-weight:normal;
	margin-bottom:3.5em;
}
.animation_5 {
	background-color:#000;
	min-height:400px;
	padding-top:100px;
	padding-bottom:100px;
	position:relative;
	overflow:hidden;
}
.animation_5 h3, .animation_6 h3 {
	font-size:1.6em;
	font-weight:bold;
	color:#fff;
	margin-bottom:40px;
}
.animation_5 p {
	font-size:1.2em;
	line-height:1.6em;
	color:#fff;
	margin-bottom:45px;
}
.animation_5 p strong {
	display:block;
	padding-top:20px;
	color:#21c078;
	font-size:1.1em;
}
.animation_6 {
	background-color:#003390;
	min-height:400px;
	padding-top:100px;
	padding-bottom:100px;
	position:relative;
	overflow:hidden;
}
.animation_6 ul {
	margin:20px 0;
}
.animation_6 ul li {
	float:left;
	width:23%;
	color:#fff;
	font-size:1.1em;
	line-height:1.3em;
	margin:0 12px 50px 12px;
	height:300px;
	position:relative;
}
.animation_6 ul li:first-child {
	margin-left:0;
}
.animation_6 ul li:last-child {
	margin-right:0;
}
.animation_6 ul li strong {
	display:block;
	font-size:1.1em;
	margin-bottom:10px;
	color:#fff100;
}

.margintop {
	margin-top:35vh !important;
}

h2 {
	font-size:3em;
	position:absolute;
	opacity:0;
}
h2#ttl1 {
	color:#fff300;
	font-size:4em;
	top:40vh;
	z-index:2;
	position:absolute;
	-webkit-animation: keyframes 0.5s linear 1.5s 1 forwards;
}
@-webkit-keyframes keyframes {
        0% {
          opacity: 0;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }

#continue{
	-webkit-animation: keyframes2 1s linear 2s 1 forwards;
	opacity:0;
}

@-webkit-keyframes keyframes2 {
        0% {
          opacity: 0;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }

h2#ttl2 {
	color:#fff300;
	top:230px;
	position:absolute;
	left:505px;
}
h2#ttl3 {
	color:#003390;
	top:110px;
	position:absolute;
	left:0;
}
h2#ttl4 {
	color:#e84224;
	top:200px;
	position:absolute;
	left:550px;
}

#color_jackets {
	position:absolute;
	width:1250px;
	left:-120px;
	top:-70px;
}
#color_jackets ul {
	clear:both;
}
#color_jackets ul li {
	float:left;
	margin:0 15px;
}
#color_jackets ul li:last-child {
	margin-right:0;
}
#color_jackets ul li:first-child {
	margin-leftt:0;
}
#floatjacket {
	position:relative;
	height:750px;
}
#floatjacket div {
	position:absolute;
}
#floatjacket div#float1 {
	z-index:2;
	left:-2000px;
	top:200px;
}
#floatjacket div#float2 {
	z-index:4;
	left:-2000px;
	top:250px;
}
#floatjacket div#float3 {
	z-index:3;
	left:-2000px;
	top:-170px;
}
#floatjacket div#float4 {
	z-index:5;
	left:2000px;
	top:250px;
}
#floatjacket div#float5 {
	z-index:1;
	left:2000px;
	top:-60px;
}
#standjacket {
	position:relative;
	height:750px;
}
#standjacket div{
	position:absolute;
}
#standjacket div#stand1 {
	left:-220px;
	top:800px;
}
#standjacket div#stand2 {
	left:-400px;
	top:-800px;
}
#standjacket div#stand3 {
	left:100px;
	top:-800px;
}
#standjacket div#stand4 {
	left:590px;
	top:800px;
}
#standjacket div#stand5 {
	left:1020px;
	top:-800px;
}
#standjacket div#stand6 {
	left:990px;
	top:800px;
}

#rain1, #rain2, #rain3 {
	width:141px;
	height:140px;
	position:absolute;
	background:#00aedd;
	opacity:0;
}
#rain1 {
	background:url("../images/rain.png") left top no-repeat;
	top:250px;
	left:0;
	-webkit-animation: keyframes3 0.5s linear 1s 1 forwards;
}
#rain2 {
	background:url("../images/rain.png") -159px top no-repeat;
	top:250px;
	left:159px;
	-webkit-animation: keyframes4 0.6s linear 1.1s 1 forwards;
}
#rain3 {
	background:url("../images/rain.png") -318px top no-repeat;
	top:250px;
	left:318px;
	-webkit-animation: keyframes5 0.7s linear 1.2s 1 forwards;
}
@-webkit-keyframes keyframes3 {
        0% {
          opacity: 0;
		  top:235px;
		  left:15px;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }
@-webkit-keyframes keyframes4 {
        0% {
          opacity: 0;
		  top:235px;
		  left:174px;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }
@-webkit-keyframes keyframes5 {
        0% {
          opacity: 0;
		  top:235px;
		  left:333px;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }

.rain_area {
	position:relative;
	min-height:310px;
	margin-bottom:30px;
	-webkit-animation: keyframes6 0.3s linear 0.7s 1 forwards;
	opacity:0;
}
@-webkit-keyframes keyframes6 {
        0% {
          opacity: 0;
		  margin-top:-30px;
		  margin-left:30px;
		  margin-bottom:60px;
          -webkit-animation-timing-function: linear;
        }
        100% {
          opacity: 1;
          -webkit-animation-timing-function: linear;
        }
      }

.yellowrain {
	-webkit-border-radius: 200px 0 200px 200px;
	border-radius: 200px 0 200px 200px;
	background-color:#fff100;
	position:absolute;
}
.xlarge {
	height:196px;
	width:196px;
}
.large {
	height:121px;
	width:121px;
}
.medium {
	height:98px;
	width:98px;
}
.small {
	height:66px;
	width:66px;
}
.xsmall {
	height:40px;
	width:40px;
}
#drop1 {
	left:200px;
	top:-125px;
}
#drop2 {
	left:900px;
	top:75px;
}
#drop3 {
	left:-140px;
	top:80px;
}
#drop4 {
	left:90px;
	top:200px;
}
#drop5 {
	left:660px;
	top:160px;
}
#drop6 {
	left:810px;
	top:-65px;
}
#drop7 {
	left:420px;
	top:120px;
}
#drop8 {
	left:-55px;
	top:230px;
}
#drop9 {
	left:860px;
	top:260px;
}
.materials {
	margin-bottom:10px;
}
.materials span {
	float:left;
	margin-right:30px;
}
#material1, #material2, #material3 {
	opacity:0;
}
#laminate1, #laminate2, #laminate3, #laminate4 {
	position:absolute;
	bottom:-52px;
	left:0;

}
#descript1, #descript2, #descript3, #descript4 {
	position:absolute;
	z-index:10;
	bottom:0;
	left:0;
	opacity:0;
}


/* header */
#tophead {
	height:90px;
	box-shadow: 0 0 1px #333;
	width:100%;
	position:fixed;
	z-index: 100;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tophead hgroup {
	width:960px;
	margin:0 auto;
}
#tophead hgroup #logo {
	background:url("../images/logo_w.png") no-repeat left top;
	text-indent:-9999px;
	float:left;
	margin-top:32px;
}
#tophead hgroup #logo a {
	display:block;
	width:120px;
	height:33px;
}
#tophead hgroup nav {
	float:right;
	margin-top:32px;
}
#tophead hgroup nav li {
	color:#fff;
	float:left;
	font-size:1.4em;
	font-weight:normal;
	margin-right:50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tophead hgroup nav li a {
	color:#fff;
}
#tophead hgroup nav li:last-child {
	margin-right:0;
}
#tophead hgroup nav li.active {
	border-bottom:2px solid #fff;
}

#tophead.shrink {
	height:70px;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 1000;
	background-color:#fff;
}
#tophead.shrink #logo {
	background:url("../images/logo_b.png") no-repeat left top;
	text-indent:-9999px;
	float:left;
	margin-top:20px;
}
#tophead.shrink #logo a {
	display:block;
	width:110px;
	height:30px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tophead.shrink hgroup nav {
	float:right;
	margin-top:20px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tophead.shrink hgroup nav li {
	color:#000;
	float:left;
	font-size:1.4em;
	font-weight:normal;
	margin-right:50px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#tophead.shrink hgroup nav li a {
	color:#000;
}
#tophead.shrink hgroup nav li:last-child {
	margin-right:0;
}
#tophead.shrink hgroup nav li.active {
	border-bottom:2px solid #000;
}
.underline {
	border-bottom:2px solid #000;
}


/* structure */
.container {
	width:960px;
	margin:0 auto;
	position:relative;
}
.noneheight div.arrow_down a {
	top:-90px !important;
}
.intro {
	padding:120px 0;
	font-size:1.5em;
	color:#000;
	z-index:9999;
	line-height:1.6em;
}

.left {
	width:48%;
	float:left;
	position:relative;
} 
.left_narrow {
	width:26%;
	float:left;
	position:relative;
}
.right {
	width:48%;
	float:right;
	position:relative;
}
.right_wide {
	width:70%;
	float:right;
	position:relative;
}

div.arrow_down a {
	height:60px;
	width:60px;
	background:url("../images/arrow_scroll.png") top left;
	text-indent:-9999px;
	position:absolute;
	top:-210px;
	left:50%;
	text-align:center;
	font-size:1px;
	line-height:1px;
	margin-left:-30px;
	display:block;
	opacity: 0.7;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-webkit-transition: 0.3s ease;
}
div.arrow_down a:hover {
	height:60px;
	width:60px;
	opacity: 1;
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	transform:scaleX(-1);
}
div.arrow_up a {
	height:60px;
	width:60px;
	background:url("../images/arrow_scroll.png") left -60px;
	text-indent:-9999px;
	position:absolute;
	left:50%;
	top:0;
	text-align:center;
	font-size:1px;
	line-height:1px;
	margin-top:-210px;
	margin-left:-30px;
	display:block;
	opacity: 0.7;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-webkit-transition: 0.3s ease;
	z-index:3000;
}
div.arrow_up a:hover {
	opacity: 1;
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	transform:scaleX(-1);
}

.discussion {
	background-color:#21c078;
	height:580px;
	position:relative;
	overflow:hidden;
}
.discussion p {
	color:#fff;
	font-size:1.3em;
	margin-bottom:30px;
}
.discussion p strong {
	display:block;
	font-size:1.1em;
	color:#fff100;
}
.ttls {
	color:#fff300;
	font-size:4em;
	line-height:1em;
	margin-top:120px;
	margin-bottom:30px;
}
.ttls2 {
	color:#fff;
	font-size:1.6em;
	line-height:1.4em;
	margin-top:120px;
	margin-bottom:30px;
}
.visual01 {
	width:400px;
	height:400px;
	margin-left:30px;
	margin-top:80px;
	background:url("../images/img_discuss.png") no-repeat left top;
}
.visual02 {
	width:489px;
	height:475px;
	margin-top:80px;
}
#runner {
	opacity:0;
}
.opacity {
	opacity:1 !important;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* footer */
footer {
	position:relative;
}
footer h3 {
	color:#e84224;
	font-size:1.8em;
	margin-bottom:10px;
	margin-top:50px;
}
footer p {
	font-size:1.2em;
	line-height:1.6em;
}
footer p a {
	color:#000;
	text-decoration:underline;
	transition: 0.3s ease;
	-moz-transition: 0.6s ease;
	-webkit-transition: 0.6s ease;
	-ms-transition: 0.6s ease;
	-o-webkit-transition: 0.6s ease;
}
footer p a:hover {
	color:#e84224;
	text-decoration:underline;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.footerimg {
	width:297px;
	height:211px;
	background:url("../images/img_footer.png") no-repeat left top;
	display:block;
	float:left;
	margin-right:40px;
}
.contact {
	float:right;
	width:300px;
	margin-top:35px;
}
.contact strong {
	display:block;
	padding-top:20px;
	font-size:1.1em;
}
.copyright {
	background:#000;
	color:#fff;
	font-size:1em;
	line-height:60px;
	text-align:center;
	bottom:0;
	width:100%;
	position:absolute;
}
#last {
	position:absolute;
	padding-top:150px;
	bottom:0;
	display:block;
}

#rising {
	bottom:-600px;
	position:fixed;
	width:100%;
	height:240px;
	padding:120px 0 120px 0;
	background-color:#e5e5e5;
	z-index:9999;
}


/* media queries */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  * {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	opacity: 1 !important;
  }
  #overlay {
	opacity: 0.6 !important;
  }
  #floatjacket div#float1 {
	left:-500px !important;
  }
  #floatjacket div#float2 {
	left:-120px !important;
  }
  #floatjacket div#float3 {
	left:190px !important;
  }
  #floatjacket div#float4 {
	left:420px !important;
  }
  #floatjacket div#float5 {
	left:960px !important;
  }
  #standjacket div#stand1 {
	top:-100px !important;
  }
  #standjacket div#stand2 {
	top:400px !important;
  }
  #standjacket div#stand3 {
	top:60px !important;
  }
  #standjacket div#stand4 {
	top:360px !important;
  }
  #standjacket div#stand5 {
	top:-30px !important;
  }
  #standjacket div#stand6 {
	top:300px !important;
  }
  #material1 {
	margin-top: -5px !important;
  }
  #material2 {
	margin-top: 0 !important;
  }
  #material3 {
	margin-top: -10px !important;
  }
  #laminate1, #laminate2, #laminate3, #laminate4 {
	margin-bottom: 0 !important;
  }
  #runner {
	margin-top:80px !important;
	margin-right:0 !important;
  }
  .top_parallax {
	background: url("../images/top_keyvisual.jpg") no-repeat center center fixed; 
	min-width:1024px;
	-webkit-background-size: 1024px;
	-moz-background-size: 1024px;
	-o-background-size: 1024px;
	background-size: 1024px;
	min-height:672px;
	height:672px;
  }
  .animation_4 {
	min-width:1024px;
	min-height:672px;
	height:672px;
  }
  h2 {
	opacity:1 !important;
  }
  h2#ttl1 {
	top:285px;
	font-size:3em;
  }
  .rain_area {
	position:relative;
	min-height:100px;
	margin-bottom:30px;
  }
}

@media screen and (max-width: 768px) {
  * {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	opacity: 1 !important;
  }
  #overlay {
	opacity: 0.6 !important;
  }
  #floatjacket div#float1 {
	left:-500px !important;
  }
  #floatjacket div#float2 {
	left:-120px !important;
  }
  #floatjacket div#float3 {
	left:190px !important;
  }
  #floatjacket div#float4 {
	left:420px !important;
  }
  #floatjacket div#float5 {
	left:960px !important;
  }
  #standjacket div#stand1 {
	top:-100px !important;
  }
  #standjacket div#stand2 {
	top:400px !important;
  }
  #standjacket div#stand3 {
	top:60px !important;
  }
  #standjacket div#stand4 {
	top:360px !important;
  }
  #standjacket div#stand5 {
	top:-30px !important;
  }
  #standjacket div#stand6 {
	top:300px !important;
  }
  #material1 {
	margin-top: -5px !important;
  }
  #material2 {
	margin-top: 0 !important;
  }
  #material3 {
	margin-top: -10px !important;
  }
  #laminate1, #laminate2, #laminate3, #laminate4 {
	margin-bottom: 0 !important;
  }
  #runner {
	margin-top:80px !important;
	margin-right:0 !important;
  }
  .topshadow {
	height:300px;
	background:url("../images/topshadow_s.png") top repeat-x;
  }
  .top_parallax {
	min-width: 768px;
	-webkit-background-size: 768px;
	-moz-background-size: 768px;
	-o-background-size: 768px;
	background-size: 768px;
	min-height:600px;
	height:600px;
  }
  .second_parallax {
	width: 768px;
	/*background: url("../images/parallax_img1s.jpg") no-repeat center center fixed;*/
	background-size: 100%;
	text-align:center;
  }
  .second_parallax img {
	display:block;
	width:100%;
  }
  .third_parallax {
	width: 768px;
	/*background: url("../images/parallax_img2s.jpg") no-repeat center center fixed;*/
	background-size: 100%;
	text-align:center;
  }
  .third_parallax img {
	display:block;
	width:100%;
  }
  .fourth_parallax {
	width: 768px;
	/*background: url("../images/parallax_img3s.jpg") no-repeat center center fixed;*/
	background-size: 100%;
	text-align:center;
  }
  .fourth_parallax img {
	display:block;
	width:100%;
  }
  .animation_4 {
	min-width: 768px;
	min-height:600px;
	height:600px;
  }
  .animation_6 {
	padding-bottom:0px;
  }
  .animation_6 ul li {
	width:46%;
	margin:0 15px 70px 15px;
	height:280px;
	position:relative;
  }
  h2 {
	opacity:1 !important;
  }
  h2#ttl1 {
	top:250px;
	font-size:3em;
  }
  h2#ttl2, h2#ttl3, h2#ttl4 {
	font-size:2.6em;
	line-height:1.2em;
  }
  h2#ttl3 {
	left:20px;
  }
  h2#ttl4 {
	top:150px;
	left:530px;
  }
  #rain1, #rain2, #rain3 {
	width:101px;
	height:100px;
	position:absolute;
	background:#00aedd;
  }
  #rain1 {
	background:url("../images/rain_s.png") left top no-repeat;
	top:290px;
	left:0;
  }
  #rain2 {
	background:url("../images/rain_s.png") -111px top no-repeat;
	top:290px;
	left:111px;
  }
  #rain3 {
	background:url("../images/rain_s.png") -222px top no-repeat;
	top:290px;
	left:222px;
  }
  .rain_area {
	position:relative;
	min-height:100px;
	margin-bottom:30px;
  }
  .materials span {
	float:left;
	margin-right:20px;
	margin-bottom:30px;
  }
  #tophead hgroup {
	width:728px;
	padding-left:20px;
	padding-right:20px;
  }
  #tophead hgroup nav li {
	margin-right:20px;
  }
  #tophead.shrink hgroup nav li {
	font-size:1.4em;
	margin-right:20px;
  }
  .container {
    width: 728px;
	padding-left:20px;
	padding-right:20px;
  }
  .visual01 {
	width:320px;
	height:320px;
	margin-left:20px;
	margin-top:80px;
	background-size:contain;
  }
  .visual02 {
	width:350px;
	height:340px;
	margin-top:130px !important;
  }
  .visual02 img {
	width:350px;
	height:340px;
  }
  .footerimg {
	width:220px;
	height:156px;
	background-size:contain;
	margin-right:20px;
  }
  .contact {
	width:230px;
	font-size:1em;
  }
  div.arrow_up a, div.arrow_down a {
	  opacity:0.7 !important;
  }
}
